/* ==========================================================================
   Social share buttons

   * Created by Zander Martineau
   ========================================================================== */
@font-face {
  font-family: 'Social';
  src: url("/font/social.eot");
  src: url("/font/social.eot?#iefix") format("embedded-opentype"), url("/font/social.woff") format("woff"), url("/font/social.ttf") format("truetype"), url("/font/social.svg#social") format("svg");
  font-weight: 400;
  font-style: normal;
}

.socialBtn {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  padding: 0 0.4em;
  white-space: nowrap;
  vertical-align: top;
  font-size: 15px;
  height: 2em;
  line-height: 1.85;
  text-decoration: none;
}
.socialBtn:before {
  vertical-align: middle;
  content: "";
  display: inline-block;
  height: 1.5em;
  background-repeat: no-repeat;
  margin-right: 0.5em;
  margin-top: 0.1em;
}

.socialBtn--noIcon:before {
  display: none;
}

.socialBtn--twitter {
  border: #ccc solid 0.1em;
  color: #333;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  text-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.5);
  background: #ffffff;
  background: -moz-linear-gradient(top, white 0%, #dedede 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dedede));
  background: -webkit-linear-gradient(top, white 0%, #dedede 100%);
  background: -o-linear-gradient(top, white 0%, #dedede 100%);
  background: -ms-linear-gradient(top, white 0%, #dedede 100%);
  background: linear-gradient(to bottom, white 0%, #dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 );
}
.socialBtn--twitter:hover {
  border-color: #BBB;
}
.socialBtn--twitter:before {
  background-image: url(../img/icons/twitter-blue.svg);
  width: 1.4em;
}

.socialBtn--facebook {
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  background: #eceef5;
  border: 0.1em solid #cad4e7;
  color: #3b5998;
}
.socialBtn--facebook:hover {
  border-color: #9dacce;
}
.socialBtn--facebook:before {
  color: #3b5998;
  background-image: url(../img/icons/facebook-blue.svg);
  width: 1.15em;
}

.socialBtn--facebook--dark {
  text-shadow: 0 -0.1em 0 #2E4380;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  background: #eceef5;
  border: 0.1em solid #3455B0;
  color: #fff;
  background: #4f6bba;
  background: -moz-linear-gradient(top, #4f6bba 0%, #39539f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4f6bba), color-stop(100%, #39539f));
  background: -webkit-linear-gradient(top, #4f6bba 0%, #39539f 100%);
  background: -o-linear-gradient(top, #4f6bba 0%, #39539f 100%);
  background: -ms-linear-gradient(top, #4f6bba 0%, #39539f 100%);
  background: linear-gradient(to bottom, #4f6bba 0%, #39539f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f6bba', endColorstr='#39539f',GradientType=0 );
}
.socialBtn--facebook--dark:hover {
  border-color: #2E4380;
}
.socialBtn--facebook--dark:before {
  color: #fff;
  background-image: url(../img/icons/facebook-white.svg);
  width: 1.15em;
}

a.socialBtn--pinterest {
  background-color: #f8f8f8;
  background-image: deprecated-webkit-gradient(linear, left top, left bottom, compact(white 0%, #dedede 100%, false, false, false, false, false, false, false, false));
  background-image: -webkit-linear-gradient(top, compact(white 0%, #dedede 100%, false, false, false, false, false, false, false, false));
  background-image: -moz-linear-gradient(top, compact(white 0%, #dedede 100%, false, false, false, false, false, false, false, false));
  background-image: -ms-linear-gradient(top, compact(white 0%, #dedede 100%, false, false, false, false, false, false, false, false));
  background-image: -o-linear-gradient(top, compact(white 0%, #dedede 100%, false, false, false, false, false, false, false, false));
  background-image: linear-gradient(top, compact(white 0%, #dedede 100%, false, false, false, false, false, false, false, false));
  background-repeat: repeat-x;
  border: #ccc solid 0.1em;
  color: #cc1e26;
  padding-right: 4px;
}
a.socialBtn--pinterest:hover {
  border-color: #BBB;
}

.social-list {
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
}
.social-list li {
  margin-right: 6px;
}

a.social-sq-twitter, a.social-sq-facebook, a.social-sq-pinterest, a.social-sq-gplus {
  position: relative;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  height: 21px;
  width: 21px;
  line-height: 20px;
  color: #fff;
  vertical-align: baseline;
}
a.social-sq-twitter span, a.social-sq-facebook span, a.social-sq-pinterest span, a.social-sq-gplus span {
  margin: 0;
}

a.social-sq-twitter {
  background-color: #00aced;
}
a.social-sq-twitter:hover {
  background-color: #006e98;
}

a.social-sq-facebook {
  background-color: #3b5998;
}
a.social-sq-facebook:hover {
  background-color: #283c67;
}

a.social-sq-pinterest {
  background-color: #cc1e26;
}
a.social-sq-pinterest:hover {
  background-color: #821318;
}

a.social-sq-gplus {
  background-color: #da4835;
}
a.social-sq-gplus:hover {
  background-color: #8f281a;
}

/*# sourceMappingURL=social-links.css.map */